<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title><%= title %> - Kertausprojekti</title>
</head>
<header>
    <nav>
        <ul>
            <li><a href="/">Koti</a></li>
            <li><a href="/aikataulu">Aikataulu</a></li>
            <li><a href="/artistit">Artistit</a></li>
            <li><a href="/festivaalit">Festivaalit</a></li>
        </ul>
    </nav>
</header>